include pug/head.pug

.hero#hero
    .container-fluid
        .row.hero__text
            .col-md-12
                .hero__shape
                  
                    h1.eyebrow.eyebrow_invert Jack<br>+<br>Vanessa
                .hero__date 22 July 2017
                .hero__place San Francisco, <br>California

.newlyweds#newlyweds
    .container-fluid
        .row
            .col-sm-6.col-md-4.col-md-offset-2.newlyweds__gleb
                a(href='https://vk.com/gongled' target='_blank')
                    img(src='images/gleb.jpg', srcset='images/gleb@2x.jpg 2x').newlyweds__photo
                h3.newlyweds__header Jack<br>Zampolin
                .newlyweds__subheader Groom
                .newlyweds__social
                    a(href='https://jackzampolin.com/' target='_blank').newlyweds__social_link
                        include pug/logo-vk.pug
                    a(href='https://instagram.com/jackzampolin' target='_blank').newlyweds__social_link
                        include pug/logo-instagram.pug
                    a(href='https://fb.com/jack.zampolin' target='_blank').newlyweds__social_link
                        include pug/logo-facebook.pug
                    a(href='https://twitter.com/jack_zampolin' target='_blank').newlyweds__social_link
                        include pug/logo-twitter.pug
            .col-sm-6.col-md-4.newlyweds__maria
                a(href='https://vk.com/maryregen' target='_blank')
                    img(src='images/maria.jpg', srcset='images/maria@2x.jpg 2x').newlyweds__photo
                h3.newlyweds__header Vanessa<br>Pateman
                .newlyweds__subheader Bride
                .newlyweds__social
                    a(href='https://essaclay.com/' target='_blank').newlyweds__social_link
                        include pug/logo-vk.pug
                    a(href='https://instagram.com/essaclay' target='_blank').newlyweds__social_link
                        include pug/logo-instagram.pug
                    a(href='https://fb.com/vanessa.pateman' target='_blank').newlyweds__social_link
                        include pug/logo-facebook.pug

.timer#timerblock
    .container-fluid
        .row
            Join us for our celebration
            .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.timer__row
                .timer__block.timer__block__days
                    a(href='resource/glebandmariamap.ics').button.timer__button Add to Calendar

.event#event
    .container-fluid
        .row.event__center
            .col-md-4.col-md-push-4
                .eyebrow.eyebrow_invert.event__midtitle Our<br>Wedding<br>Event
            .col-sm-6.col-md-4.col-md-pull-4.event__wrapper.event__wrapper_registration
                .event__block
                    h4.event__title Check In
                    .event__time.clearfix
                        .event__time_left
                            .event__time__inner
                                img(src='images/icon-clock.svg')
                                div 15:30<br>16:30
                        .event__time_right
                            .event__time__inner
                                img(src='images/icon-calendar.svg')
                                div Saturday<br>22 July 2017
                        img(src='images/flower2.svg').event__time__flower
                    .event__description This is a thing. Here is some placeholder text.
                    a(href='#maps').button.button_ghost Card
            .col-sm-6.col-md-4.event__wrapper.event__wrapper_banquet
                .event__block
                    h4.event__title Banquet
                    .event__time.clearfix
                        .event__time_left 
                            .event__time__inner
                                img(src='images/icon-clock.svg')
                                div 16:30<br>21:30
                        .event__time_right
                            .event__time__inner
                                img(src='images/icon-calendar.svg')
                                div Saturday<br>22 July 2017
                        img(src='images/flower2.svg').event__time__flower
                    .event__description This is a thing. Here is some placeholder text.
                    a(href='#maps').button.button_ghost Card

.dresscode#dresscode
    .container-fluid
        .row
            .col-md-6.col-md-offset-3
                .eyebrow Dress Code!
                h5 None! Please don't wear clothes. We turned into nudists when you weren't looking
        .row
            .col-md-12.dresscode__colors
                .dresscode__color.dresscode__color_1
                .dresscode__color.dresscode__color_2
                .dresscode__color.dresscode__color_3
                .dresscode__color.dresscode__color_4
                .dresscode__color.dresscode__color_5
                .dresscode__color.dresscode__color_6

.contact#contact
    .container-fluid
        .row
            .col-md-12
                .eyebrow RSVP
                h5 Please confirm your reservation by emailing our wedding 
                a(href='mailto:rsvp@jackandvanessa.com').email rsvp@jackandvanessa.com
        .row
            .col-xs-6.col-md-4.col-md-offset-2
                h3.contact__name Jack
                a(href='tel:+79278268323').contact__phone +1 804 986 1909
            .col-xs-6.col-md-4
                h3.contact__name Vanessa
                a(href='tel:+79378776569').contact__phone +7 937 877 6569

.maps#maps
    #map

include pug/footer.pug
