include pug/head.pug

.hero#hero
    .container-fluid
        .row.hero__text
            .col-md-12
                .hero__shape
                    h1.eyebrow.eyebrow_invert Глеб<br>+<br>Мария
                .hero__date 22 июля 2017
                .hero__place Ульяновск, <br>«Архангельская Слобода»

.timer#timerblock
    .container-fluid
        .row
            .col-md-12
                .eyebrow Привет!
                h2 22 июля 2017, Ульяновск, «Архангельская Слобода»
                h5 Приглашаем вас на самую душевную вечеринку
        .row
            .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.timer__row
                .timer__block.timer__block__days
                    a(href='resource/glebandmariamap.ics').button.timer__button Добавить в календарь

.newlyweds#newlyweds
    .container-fluid
        .row
            .col-sm-6.col-md-4.col-md-offset-2.newlyweds__gleb
                a(href='https://vk.com/gongled' target='_blank')
                    img(src='images/gleb.jpg', srcset='images/gleb@2x.jpg 2x').newlyweds__photo
                h3.newlyweds__header Глеб<br>Гончаров
                .newlyweds__subheader Жених
                .newlyweds__social
                    a(href='https://vk.com/gongled' target='_blank').newlyweds__social_link
                        include pug/logo-vk.pug
                    a(href='https://instagram.com/gongled' target='_blank').newlyweds__social_link
                        include pug/logo-instagram.pug
                    a(href='https://fb.com/gongled' target='_blank').newlyweds__social_link
                        include pug/logo-facebook.pug
                    a(href='https://twitter.com/gongled' target='_blank').newlyweds__social_link
                        include pug/logo-twitter.pug
            .col-sm-6.col-md-4.newlyweds__maria
                a(href='https://vk.com/maryregen' target='_blank')
                    img(src='images/maria.jpg', srcset='images/maria@2x.jpg 2x').newlyweds__photo
                h3.newlyweds__header Мария<br>Акимова
                .newlyweds__subheader Невеста
                .newlyweds__social
                    a(href='https://vk.com/maryregen' target='_blank').newlyweds__social_link
                        include pug/logo-vk.pug
                    a(href='https://instagram.com/maryregen' target='_blank').newlyweds__social_link
                        include pug/logo-instagram.pug
                    a(href='https://fb.com/100001434301240' target='_blank').newlyweds__social_link
                        include pug/logo-facebook.pug
                    a(href='https://twitter.com/maryregen' target='_blank').newlyweds__social_link
                        include pug/logo-twitter.pug

.event#event
    .container-fluid
        .row.event__center
            .col-md-4.col-md-push-4
                .eyebrow.eyebrow_invert Наши<br>свадебные<br>события
            .col-sm-6.col-md-4.col-md-pull-4.event__wrapper.event__wrapper_registration
                .event__block
                    h4.event__title Регистрация
                    .event__time.clearfix
                        .event__time_left
                            .event__time__inner
                                img(src='images/icon-clock.svg')
                                div 15:30<br>16:30
                        .event__time_right
                            .event__time__inner
                                img(src='images/icon-calendar.svg')
                                div Cуббота<br>22 июля 2017
                        img(src='images/flower2.svg').event__time__flower
                    .event__description Торжественная регистрация брака пройдёт на турбазе «Архангельская Слобода». Сбор гостей в Центре и в Новом Городе в 13:00.
                    a(href='#maps').button.button_ghost Карта
            .col-sm-6.col-md-4.event__wrapper.event__wrapper_banquet
                .event__block
                    h4.event__title Банкет
                    .event__time.clearfix
                        .event__time_left 
                            .event__time__inner
                                img(src='images/icon-clock.svg')
                                div 16:30<br>21:30
                        .event__time_right
                            .event__time__inner
                                img(src='images/icon-calendar.svg')
                                div Cуббота<br>22 июля 2017
                        img(src='images/flower2.svg').event__time__flower
                    .event__description Праздничный банкет состоится на турбазе «Архангельская Слобода» в беседке под номером 8.
                    a(href='#maps').button.button_ghost Карта

.dresscode#dresscode
    .container-fluid
        .row
            .col-md-6.col-md-offset-3
                .eyebrow Дресс-код
                h5 Праздник пройдёт за городом, потому просим вас отдать предпочтение природным оттенкам при выборе наряда
        .row
            .col-md-12.dresscode__colors
                .dresscode__color.dresscode__color_1
                .dresscode__color.dresscode__color_2
                .dresscode__color.dresscode__color_3
                .dresscode__color.dresscode__color_4
                .dresscode__color.dresscode__color_5
                .dresscode__color.dresscode__color_6

.contact#contact
    .container-fluid
        .row
            .col-md-12
                .eyebrow Контакты
                h5 Пожалуйста, подтвердите своё участие телефонным звонком
        .row
            .col-xs-6.col-md-4.col-md-offset-2
                h3.contact__name Глеб
                a(href='tel:+79278268323').contact__phone +7 927 826 8323
            .col-xs-6.col-md-4
                h3.contact__name Мария
                a(href='tel:+79378776569').contact__phone +7 937 877 6569

.maps#maps
    #map

include pug/footer.pug
