script(type='text/javascript', src='vendors/scrollreveal/scrollreveal.min.js')
script(type='text/javascript', src='vendors/countdown/countdown.min.js')
script(type='text/javascript', src='vendors/instafeed/instafeed.min.js')
script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=8WJTLjDeTpFyt1jwyWY2Rep8i2z5Mqq5&width=100%25&height=67vh&lang=ru_RU&sourceType=constructor&scroll=false&id=map')
script(type='text/javascript', src='js/main.js')
